<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<mat-toolbar>
  <span>COOK BOOK </span>
  <button mat-button routerLink="all-recipes" routerLinkActive="active-menu">All Recipes</button>
  <button mat-button routerLink="add-recipe" routerLinkActive="active-menu">Add Recipe</button>
  <button mat-button routerLink="login" routerLinkActive="active-menu">Login</button>
</mat-toolbar>



<router-outlet></router-outlet>
